<h1>Questions#answer</h1>
<div class="question">
  <p><%= @query %></p>
  <p><em>-You</em></p>
</div>

<div class="answer">
  <p><%= @answer %></p>
  <p><em>-Your coach</em></p>
</div>

<div class="link">
<%= link_to 'Ask a new question!', ask_path %>
</div>
